<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <title>Profile</title>
    <!-- reset css -->
    <link rel="stylesheet" type="text/css" href="./assets/css/css_reset.css">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/jquery.datetimepicker.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <!-- preload -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <style>
         ::-webkit-scrollbar {
            display: none;
        }
    </style>
    <style>
        #name {
            display: none;
        }
        
        #delete {
            display: none;
        }
        
        #phone {
            display: none;
        }
        
        #email {
            display: none;
        }
        
        #pass {
            display: none;
        }
    </style>
    <script>
        function set() {

            document.getElementById("7").value = "";
            document.getElementById("8").value = "";
        }

        function reveal() {


            if (document.getElementById("4").checked) {
                set()
                document.getElementById("pass").style.display = "block";
            } else {
                document.getElementById("pass").style.display = "none";
            }
            if (document.getElementById("3").checked) {
                set()
                document.getElementById("delete").style.display = "block";
            } else {
                document.getElementById("delete").style.display = "none";
            }
        }

        function uncheck() {

            document.getElementById("3").checked = false
            document.getElementById("4").checked = false
            document.getElementById("5").checked = false
            reveal()
        }
    </script>
    <link rel="stylesheet" href="./assets/css/admin.css">

</head>

<body onload="set()">
    <div>
        <div class="container">
            <div class="page-header">
                <h2 id="head">User :-
                    <%= sn%>
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <ul style="color: black" class="list-group">

            <div style="text-align: center;font-weight: 400;">
                <li class="list-group-item">
                    <span style="font-weight: 500;font-size: large;">Name:-</span>
                    <%= sn%>
                </li>
                <li class="list-group-item">
                    <span style="font-weight: 500;font-size: large;">Phone:-</span>
                    <%= result.phone%>
                </li>
                <li class="list-group-item">
                    <span style="font-weight: 500;font-size: large;">Email:-</span>
                    <%= result.email%>
                </li>
                <li class="list-group-item">
                    <span style="font-weight: 500;font-size: large;">Password:-</span>
                    <%= result.password%>
                </li>
            </div>
            <br>
            <hr>

        </ul>
        <ul style="color: black" class="list-group">
            <li style="background: transparent;color: white;text-align: center; border: transparent;" class="list-group-item">
                <h2>Update Details
                </h2>
            </li>
            <div style="color: white; text-align: center;">
                <input type="radio" onchange="reveal()" class="form-check-input" name="radio3" id="3" value="User"> delete acc
                <input type="radio" onchange="reveal()" class="form-check-input" name="radio4" id="4" value="User"> pass
                <input type="radio" onchange="uncheck()" class="form-check-input" id="5" value="User"> uncheck all
            </div>
            <form style="text-align: center;" action="/edo" method="POST" autocomplete="off">
                <div style="text-align: center;font-weight: 400;">
                    <li style="background: transparent;color: black;text-align: center; border: transparent;" id="pass" class="list-group-item">
                        <input id="7" type="password" name="password" placeholder="password" value="" writeonly>
                    </li>
                    <li style="background: transparent;color: black;text-align: center; border: transparent;" id="delete" class="list-group-item">
                        <input id="8" type="text" name="deleteacc" placeholder="press any key" value="" writeonly>
                    </li>
                </div>
                <input style="position: relative;top:10px" type="submit" value="Change">
            </form>
        </ul>
    </div>


    </div>
</body>